body {
  background-image: url(imgs/New-York-Knicks-wallpaper-logo-desktop-NBA-2024-2025.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
    backdrop-filter: blur(5px);
}
#logo {
  height: 100px;
  width: 140px;
}

.text-dark-blue {
  color: #003DA5;
  background-color: #003DA5;
}
.badge-pos-C {
    background-color: #F58426;
}
.badge-pos-SF {
    background-color: #BEC0C2;
}
.badge-pos-PF {
    background-color: #ffc72c;
}
.badge-pos-PG {
    background-color: #C8102E;
}
.badge-pos-SG {
    background-color: #007A33;
}

.navbar {
  background-color: #003DA5;
  padding: 1rem 0;
  justify-content: center;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 2rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links li a:hover {
  text-decoration: underline;
}


.card.blur .card-blur-content {
    filter: blur(2px);
    pointer-events: none; 
}

.popup {
  z-index: 10;
}
.outlinedText {
  text-shadow:
  1px  0.5px 0 white;
  color: #fd7e14;
}